.counter-container {
	background-color: rgb(220, 218, 218);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
	margin: 15px;
	display: inline-block;
}

.counter-display {
	font-size: 20px;
	margin: 10px 0;
	color: #333;
}

.counter-button {
	margin: 5px;
	padding: 10px 20px;
	border: none;
	background-color: #007bff;
	color: white;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	border-radius: 50px;
}

.counter-button:hover {
	background-color: #0056b3;
}
